/* Root Variables */
:root {
    --offgrey:#ffffffce;
}

/* Universal Selectors */

/* Element Selectors */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a7c3e;
    color: var(--offgrey);
    display: flex;
}

header h1 {
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul {
    list-style: none;
}

header nav ul li {
    margin-left: 25px;
}

a {
    text-decoration: none;
    color: var(--offgrey);
}
main {
    border: 3px solid #2a7c3e;
    width: fit-content;
    margin: 100px 400px;
    padding: 10px;
}

/* Class Selectors */
.center {
    margin: 20px 140px

}

.hidden {
    display: none;
}

 .show {
    display: block;
 }

.timer {
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    margin-right: 25px;
    margin-top: 25px;
}
/* ID Selectors */

/* Media Queries */